langchain==0.3.27

langchain-community
# langchain-openai
langchain-huggingface
langchain-chroma
langchain-text-splitters

langchain-google-genai
google-generativeai

chromadb
faiss-cpu

sentence-transformers
transformers
torch

rank-bm25

pymupdf
pdfplumber
pypdf
unstructured
pytesseract
Pillow

tiktoken

openai

python-dotenv

ragas
deepeval

pandas
numpy
scikit-learn

matplotlib
seaborn

jupyter
ipykernel

torchvision

# UI
streamlit
